Repository lewisjfoster/uk-lockdown-timer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, yarn test --bail --findRelatedTests, prettier --write, stylelint --fix

chore(release): v1.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: added title and timer
  README.md
  package.json
  public/favicon.ico
  public/index.html
  public/manifest.json
  src/components/App/App.css
  src/components/App/App.js
  src/components/App/index.test.js
  src/libs/constants.js
  src/libs/lang.js
  yarn.lock
Due: eslint --cache --fix, yarn test --bail --findRelatedTests, prettier --write, stylelint --fix

chore(release): v1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

Updates
  bundle.js
  favicon.ico
  index.html
  styles.css
Due: eslint --cache --fix, yarn test --bail --findRelatedTests, prettier --write, stylelint --fix

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

feat: add google analytics
  package.json
  src/components/App/App.js
  src/components/App/index.test.js
  src/libs/constants.js
  src/libs/tracking.js
  yarn.lock
Due: eslint --cache --fix, yarn test --bail --findRelatedTests, prettier --write

chore(release): v1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

Updates
  CNAME
  bundle.js
Due: eslint --cache --fix, yarn test --bail --findRelatedTests

feat: added google adsense script
  public/index.html
Due: none

chore(release): v1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: updated homepage attribute
  package.json
Due: prettier --write

chore(release): v1.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

Updates
  CNAME
  index.html
Due: none

feat: added header and timeline
  .babelrc
  .eslintrc
  .stylelintrc
  package.json
  postcss.config.js
  public/index.html
  src/components/App/App.css
  src/components/App/App.js
  src/components/App/index.test.js
  src/components/Header/Header.css
  src/components/Header/Header.js
  src/components/Header/index.js
  src/components/Header/index.test.js
  src/components/Timeline/Timeline.css
  src/components/Timeline/Timeline.js
  src/components/Timeline/index.js
  src/components/Timeline/index.test.js
  src/libs/constants.js
  src/libs/css/customMedia.css
  src/libs/css/customProperties.css
  src/libs/lang.js
  src/libs/tracking.js
  yarn.lock
Due: eslint --cache --fix, yarn test --bail --findRelatedTests, prettier --write, stylelint --fix

chore(release): v1.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

Updates
  CNAME
  bundle.js
  index.html
  styles.css
Due: eslint --cache --fix, yarn test --bail --findRelatedTests, prettier --write, stylelint --fix

fix: updates from repo rename
  README.md
  package.json
  public/manifest.json
Due: prettier --write

chore(release): v1.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: corrected README
  README.md
Due: prettier --write

chore(release): v1.4.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: exists testing
  src/components/App/index.test.js
  src/components/Header/index.test.js
  src/components/Timeline/index.test.js
Due: eslint --cache --fix, yarn test --bail --findRelatedTests

chore(release): v1.4.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): v1.4.4
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  yarn test --bail --findRelatedTests: any of: *.js
  prettier --write: any of: *.{json,css,md}
  stylelint --fix: any of: *.css
